# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IDE related files/folders
.idea

# OS specific files
.DS_Store

# Terraform
.terraform
